.container {
  padding: var(--space-2xl-3xl) var(--space-l-xl);
}

.heading {
  font-size: clamp(2.44rem, 20vw, 15rem);
  line-height: 0.9;
}

.big-text {
  font-size: clamp(2.44rem, 40vw, 45rem);
  line-height: 0.9;
}

.star:nth-of-type(1) {
  margin-left: 2.5vw;
  margin-bottom: 1vh;
  height: 2rem;
  width: 3rem;
  rotate: 52deg;
}
.star:nth-of-type(2) {
  height: 2rem;
  width: 3rem;
  rotate: 52deg;
}

.star-big:nth-of-type(1) {
  margin-left: -3vw;
  height: 3rem;
  width: 3rem;
  rotate: -15deg;
}

.star-big:nth-of-type(2) {
  margin-top: 3vh;
  margin-left: 1vw;
  height: 2rem;
  width: 3rem;
}
