.text-wrap {
  margin-bottom: var(--space-m);
}

.text-wrap > p {
  font-size: 1.9rem;
  text-indent: 10vw;
}

.heading-wrap {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin-inline: auto;
  display: flex;
}

.heading-lrg {
  font-size: clamp(1.14rem, -9.97rem + 44.45vw, 43.37rem);
  line-height: 0.85;
  text-align: center;
}

.img-wrap {
  height: 50vh;
  position: relative;
}

.subheader-main {
  font-size: var(--space-xl-2xl);
  line-height: 1.3;
  -webkit-font-smoothing: subpixel-antialiased;
  margin-bottom: var(--space-m-l);
}

.img-cont1 {
  height: 50vh;
  width: 50vw;
}

.cont-cont {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cont-wrap {
  margin-top: var(--space-xxl);
  width: 100%;
  height: 50vh;
  display: flex;
  gap: var(--space-2xl-3xl);
}

.img {
  filter: grayscale(100%);
}

.heading {
  font-size: clamp(6rem, 7.5vw, 20rem);
}

.heading:nth-of-type(2) {
  margin-left: 10vw;
}

.subheader {
  text-align: center;
  max-width: 30ch;
  margin-inline: auto;
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: var(--space-xl);
}

.email {
  font-size: var(--space-xl-2xl);
  margin-bottom: var(--space-xl);
}

.flx-bot {
  margin-top: var(--space-m);
  display: flex;
  justify-content: space-between;
}

.desc-wrap > p {
  max-width: 45rem;
}

.flx-bot > h3 {
  font-size: 3vw;
}

.bot-cont {
  margin-top: var(--space-2xl-3xl);
  margin-inline: auto;
  max-width: 120rem;
}

@media screen and (max-width: 800px) {
  .grid-cont {
    /* margin-inline: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-gap: var(--space-2xl-3xl); */
  }
}
.flx-top {
  display: flex;
  gap: var(--space-2xxl);
}

.flx-bot {
  margin-top: var(--space-2xl-3xl);
  display: flex;
  gap: var(--space-2xxl);
}

.number {
  color: var(--secondary-variant);
  font-size: clamp(2.33rem, 1.39rem + 4.7vw, 8rem);
  line-height: 1;
}

.left-desc {
  margin: var(--space-m) 0 var(--space-xl);
  max-width: 45rem;
}

.right-desc {
  margin: var(--space-m) 0 var(--space-xl);
  max-width: 75rem;
}

.lead-img {
  max-width: 30rem;
  aspect-ratio: 9/12;
  height: auto;
  position: relative;
  display: block;
  filter: grayscale(100%);
}

.left-bot {
  max-width: 65rem;
  aspect-ratio: 16/9;
  height: auto;
  position: relative;
  display: block;
}

.right-img {
  max-width: 75rem;
  width: 100%;
  position: relative;
  aspect-ratio: 2200/1423;
  height: auto;
  display: block;
}

.right-bot {
  max-width: 45rem;
  width: 100%;
  position: relative;
  aspect-ratio: 1;
  height: auto;
  display: block;
  background: #000;
  margin-left: auto;
}

.column-bot:nth-of-type(1) {
  margin-top: 20vh;
}

.column:nth-of-type(2) {
  margin-top: 20vh;
}

.column-bot:nth-of-type(2) {
  max-width: 45rem;
  margin-left: auto;
}

.col {
  width: 30vw;
  max-width: 30rem;
}

.line {
  max-width: 35rem;
  height: 1px;
  transform-origin: left;
  overflow: hidden;
  background-color: var(--secondary-variant);
  margin: 1.5rem 0 2.5rem 0;
}

.name {
  font-size: 2rem;
  line-height: 1.3;
  -webkit-font-smoothing: subpixel-antialiased;
}

.inner {
  margin-top: var(--space-2xl-3xl);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: var(--space-2xl);
  -moz-column-gap: var(--space-m);
       column-gap: var(--space-m);
  justify-items: center;
}

.text {
  font-size: 64px;
  line-height: 1.5;
}

@media screen and (max-width: 800px) {
  .flx-bot,
.flx-top {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .inner {
    margin-top: var(--space-2xl-3xl);
    display: block;
    margin-inline: auto;
    width: 100%;
  }
  .col {
    width: 100%;
    max-width: 30rem;
    margin-inline: auto;
  }
  .col:not(:first-child) {
    margin-top: var(--space-2xxl);
  }
}/*# sourceMappingURL=teams.module.css.map */