/* .img-cont {
  height: 60vh;
  width: auto;
  aspect-ratio: 2 /3;
  position: relative;
  background: #000;
} */

.img-cont {
  max-width: 57.5rem;
  width: 100%;
  position: relative;
  aspect-ratio: 1;
  height: auto;
  display: block;
  margin-right: auto;
  filter: grayscale(100%);
}

/* .img-cont > div {
  align-self: flex-start;
  position: unset !important;
  height: 65vh;
} */

.img {
  /* aspect-ratio: 2/3;
  width: 30vw; */
  /* height: 60vh; */
  /* object-fit: cover; */
  /* width: 50vw !important;
  max-width: 50rem; */
  /* width: auto;
  height: 65vh;
  aspect-ratio: 2/3;
  position: relative !important;
  height: unset !important;
  align-self: flex-end; */
}

.flx-cont {
  display: flex;
  gap: var(--space-m);
}

.flx-cont div:nth-of-type(1) {
  width: 100%;
}

.container {
  padding: var(--space-2xl-3xl) var(--space-l-xl);
}

.inner h1:nth-of-type(3) {
  margin-left: 10vw;
  width: max-content;
}

.inner h1:nth-of-type(3) {
  margin-left: auto;
  width: max-content;
}
.inner h1:nth-of-type(1) {
  width: max-content;
}

.inner {
  max-width: 120rem;
  margin-inline: auto;
}

.wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--space-xl) 0;
}

.wrap > p {
  font-size: clamp(1.5rem, 2vw, 1.9rem);
  /* word-break: break-word; */
}

.wrap p:nth-of-type(1) {
  font-weight: 300;
  font-size: clamp(3.2rem, 2.25vw, 4.8rem);
}

.wrap p:nth-of-type(2) {
  padding-top:  var(--space-m);
  font-size: 1.5rem;
  max-width: 35rem;
}

.wrap p:nth-of-type(3) {
  font-size: 1.5rem;
}

.heading {
  font-size: clamp(2rem, 7.5vw, 20rem);
}
.heading > h1 {
  text-align: left;
  margin-inline: auto;
}

@media screen and (max-width: 800px) {
  .flx-cont {
    flex-direction: column;
  }
}
