.btn {
  position: fixed;
  bottom: 0;
  margin: var(--space-s);
  height: 5rem;
  width: 15rem;
  border-radius: 5rem;
  background-color: var(--primary-variant);
  border: 1.5px solid;
  border-color: var(--tertiary-variant);
  color: var(--primary-variant);
  overflow: hidden;
  cursor: pointer;
  z-index: 10;
  font-family: var(--heading-font);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.9rem;
  letter-spacing: 1px;
}
.btn div:first-of-type {
  height: 2.5rem;
  display: flex;
  justify-content: center;
  line-height: 1.5;
  margin-left: 0.5rem;
}
.btn div:last-of-type {
  position: absolute;
  line-height: 1.5;

  width: 12rem;
  margin-right: 0.6rem;
}

.label span {
  display: block;
  position: relative;
  line-height: 1;
  padding: 0px 15px;
  font-weight: bold;
  overflow: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #fb9501;
}

.menu-cont {
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 9;
}
.layer {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: -1;
  background-color: var(--secondary-variant);
}
.overlay {
  width: 100%;
  height: 100vh;
  z-index: 9;
  position: relative;
  background-color: var(--primary-variant);
  padding-top: var(--space-3xl);
}

.link-cont {
  padding: var(--space-3xl) 0 0 var(--space-3xl);
}

.menu-link {
  font-family: var(--heading-font);
  font-size: clamp(5.5rem, calc(0.55rem + 11.39vw), 14.21rem);
  line-height: 1;
  color: var(--secondary-variant);
  transition: color 0.3s ease-in-out;
}

.menu-link:hover {
  color: var(--tertiary-variant);
}



@media screen and (max-width: 800px) {
  .link-cont {
    padding: var(--space-3xl) var(--space-l-xl);
    display: flex;
    flex-direction: column;
    justify-content: center;align-items: center;
    gap: var(--space-l-xl);
  }
}
