.primary-clr {
  color: var(--primary-variant);
}
.primary-bg {
  background-color: var(--primary-variant);
}

.container {
  max-width: 160rem;
  margin-inline: auto;
  padding: var(--space-2xl-3xl) var(--space-l-xl);
}

.pt-xl {
  padding-top: var(--space-2xl-3xl);
}

.pb-xl {
  padding-bottom: var(--space-2xl-3xl);
}

.py-sm {
  padding-inline: var(--space-l-xl);
}

.heading-lrg {
  font-size: clamp(4.7rem, 12vw, 12.7rem);
}

.mr-lft {
  margin-left: var(--space-2xl-3xl);
}

.flx {
  display: flex;
}

.mb-xl {
  margin-bottom: var(--space-xl-2xl);
}

.lrg-fz {
  font-size: clamp(2.453rem, 7.43vw, 9.77rem);
  line-height: 0.9;
}

.txt-ctr {
  text-align: center;
}

.txt-rt {
  text-align: right;
}

.m-inline {
  margin-inline: auto;
}

.mt {
  margin-top: var(--space-2xl-3xl);
}

.mt-m {
  margin-top: var(--space-l-xl);
}

.width-mxc {
  width: max-content;
}

.height-max {
  height: 100vh;
}

.width-max {
  width: 100%;
}

.links {
  font-size: 1.6rem;
  color: var(--secondary-variant);
  font-family: var(--body-font);
  text-transform: capitalize;
}

.flx-col {
  display: flex;
  flex-direction: column;
}

.ml-h {
  margin-left: var(--space-2xl-3xl);
}

.lineChildren {
  transform: translate(0, 200px);
}

.of-h {
  overflow: hidden;
}
.btn-primary {
  padding: 10px 15px;
  cursor: pointer;
  border: 1.75px solid var(--secondary-variant);
  border-radius: 3px;
  font-weight: 500;
  outline: none;
  transition: all 0.2s;
  font-size: 1.6rem;

  color: var(--tertiary-variant);
  transition: background 250ms ease-in-out;
  background: var(--primary-variant);
}

.btn-primary:hover {
  background: var(--secondary-variant);
}

.ml-auto {
  margin-left: auto;
}
.mr-auto {
  margin-right: auto;
}

.mx-m {
  max-width: 55rem;
}

.lineParent
{
  overflow: hidden;
  max-width: max-content;
}

.mask
{
  overflow: hidden;
}